
//navbar

.nav > .active > a {
    background: none !important;
    border-bottom: 1px dashed #555555;
    display: inline;
    padding: 20px 15px 20px 15px;
    position: relative;
    top: 9px;
}

.navbar-brand {
    color: #fff !important;
    height: 70px;
    padding: 28px 15px;
    font-size: 26px;
    font-weight: 100;
    line-height: 20px;
    background-color: #333;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}

.navbar-light .navbar-brand:hover {
    background-color: #333;
}

.nav-item{
    margin-top: 15px;
}

.profilePicM {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -17px;
}

.login {
    margin-top: 30px !important;
    margin-left: 19px;
    float: right !important;
    cursor: pointer;
}
.buyBtn{
    background-color: #333;
    color: #fff;
    margin-top: 19px;
    font-size: 14px;
    height: 33px;
    width: 53px;
    text-align: center;
    padding: 0;
}