<div class="fleet">
  <div class="pic_1"></div>
  <div class="container">

    <div class="col-md-12 content text-center">
      <h1 class="logo">dride<span>Fleet</span></h1>
    </div>

  </div>
  <div class="container-fluid greyBg mct">
    <div class="container">

      <p class="col-md-12 content">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
      </p>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt2">

      <div class="row pb-5">
        <div class="col-md-6 col-12 picConteiner hidden-md-down">
          <img src="../../../assets/svg/road.svg" class="img-fluid">
        </div>
        <div class="col-md-6 col-12 text-left pl-md-5 p-4 textBlock">
          <h2>Real time view</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-6 col-12 text-left pl-md-5 p-4 textBlock">
          <h2>Driver Profile</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
        <div class="col-md-6 col-12 picConteiner">
          <img src="../../../assets/svg/hit.svg" class="img-fluid">
        </div>
      </div>
      <div class="row pb-5">

        <div class="col-md-6 col-12 picConteiner hidden-md-down">
          <img src="../../../assets/svg/cars.svg" class="img-fluid pl-5">
        </div>
        <div class="col-md-6 col-12 text-left pl-md-5 p-4 textBlock">
          <h2>tailored to your fleet</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-6 col-12 text-left pl-md-5 p-4 textBlock">
          <h2>security & privacy</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
        <div class="col-md-6 col-12 picConteiner">
          <img src="../../../assets/svg/security.svg" class="img-fluid mw">
        </div>
      </div>


    </div>
  </div>

  <div class="contact">

	<h3>Ready to talk? - Contact us today</h3>
	<h4>hello@dride.io</h4>


  </div>

</div>
