<div class="fleet">
  <div class="pic_1"></div>
  <div class="container">

    <div class="col-md-12 content text-center">
      <h1 class="logo">dride<span>Fleet</span></h1>
    </div>

  </div>
  <div class="container-fluid greyBg mct">
    <div class="container">

      <p class="col-md-12 content">
        Hi! We’re a bunch of car fanatics who believe that the vehicles we are driving are unnecessarily primitive and downright
        dangerous! We’ve designed Dride to change that, and with it, the way we drive. Just as the time when no-one used
        seat belts rapidly faded we believe that the era of unintelligent cars should be a distant memory, and we are here
        to bring it about sooner than anyone expects.
      </p>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt2">

      <div class="row pb-5">
        <div class="col-md-6 col-12 picConteiner">
          <img src="../../../assets/svg/road.svg" class="img-fluid">
        </div>
        <div class="col-md-6 col-12 text-left pl-5 textBlock">
          <h2>Real time view</h2>
          <p>atics who believe that the vehicles we are driving are unnecessarily primitive atics who believe that the vehicles
            we are driving are unnecessarily </p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-6 col-12 text-left pl-5 textBlock">
          <h2>Driver Profile</h2>
          <p>atics who believe that the vehicles we are driving are unnecessarily primitive atics who believe that the vehicles
            we are driving are unnecessarily primitive atics who believe that the vehicles we are driving are unnecessarily
            primitive atics who believe that the vehicles we are driving are unnecessarily primitive </p>
        </div>
        <div class="col-md-6 col-12 picConteiner">
          <img src="../../../assets/svg/hit.svg" class="img-fluid">
        </div>
      </div>
      <div class="row pb-5">

        <div class="col-md-6 col-12 picConteiner">
          <img src="../../../assets/svg/cars.svg" class="img-fluid pl-5">
        </div>
        <div class="col-md-6 col-12 text-left pl-5 textBlock">
          <h2>tailored to your fleet</h2>
          <p>atics who believe that the vehicles we are driving are unnecessarily primitive atics who believe that the vehicles
            we are driving are unnecessarily primitive atics who believe that the vehicles we are driving are unnecessarily
            primitive atics who believe that the vehicles we are driving are unnecessarily primitive </p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-6 col-12 text-left pl-5 textBlock">
          <h2>security & privacy</h2>
          <p>atics who believe that the vehicles we are driving are unnecessarily primitive atics who believe that the vehicles
            we are driving are unnecessarily primitive atics who believe that the vehicles we are driving are unnecessarily
            primitive atics who believe that the vehicles we are driving are unnecessarily primitive </p>
        </div>
        <div class="col-md-6 col-12 picConteiner">
          <img src="../../../assets/svg/security.svg" class="img-fluid mw">
        </div>
      </div>


    </div>
  </div>

  <div class="contact">

	<h3>Ready to talk? - Contact us today</h3>
	<h4>hello@dride.io</h4>


  </div>

</div>
