.pic_1 {
    background-image: url('../../assets/images/features/pic1.jpg');
    height: 300px;
    max-height: 550px;
    background-size: cover;
    background-position: center;
}
.blackBg{
	background-color: #333;
	color: #fff;
	height: 480px;
}
.logo {
    text-transform: lowercase;
    font-size: 90px;
    padding-top: 90px;
    span{
    	font-size: 30px;
    }
}
.slogen {
    text-transform: initial;
    margin-bottom: 99px;
	font-family: 'Raleway', sans-serif;
    color: #666666;
}
.section1 img{
	    margin-top: -18px;
} 
.section2{
        margin-top: 300px;
        p {
            font-size: 20px;
            text-align: left;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: auto auto;
        }
        .actions {
        	a{
        		padding-left: 15px;
        	}
        	button{
        		padding-right: 15px;
        		background-color: #333;
        		color: #fff;
        		cursor: pointer;
        	}
    	}
}
.section3{
	background-color: #f1f1f1;
	min-height: 300px;
	margin-top: 75px;
	.textIt1{
        p {
            font-size: 20px;
            text-align: left;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: auto auto;
        }
        .actions {
        	a{
        		padding-left: 15px;
        	}
        	button{
        		padding-right: 15px;
        		background-color: #333;
        		color: #fff;
        		cursor: pointer;
        	}
    	}
	}
	.stopSign{
		margin-top: -88px;
	}
}






