
$color: #333333,
#333,
#F3B562,
#b68cbf,
#F06060,
#72C6CE,
#4A6164;
@for $i from 1 through 7 {
    .bg-#{$i} {
        background-color: nth($color, $i);
    }
    .active-#{$i} {
        color: nth($color, $i);
    }
    .color-#{$i} .icon-bigD:before {
        color: nth($color, $i);
    }
}
@mixin on-circle($item-count,
$circle-size,
$item-size) {
    position: relative;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    padding: 0;
    list-style: none;
    > * {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -($item-size / 2);
        width: $item-size;
        height: $item-size;
        $angle: (32);
        $rot: 100;
        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
            }
            $rot: $rot + $angle;
        }
    }
}

.circle-container {
    @include on-circle($item-count: 8, $circle-size: 450px, $item-size: 6em);
    margin: 5em auto 0;
    span {
        display: block;
        max-width: 100%;
        border-radius: 50%;
        transition: .15s;
        cursor: pointer;
		top: 306px;
    	left: 198px;
    }
}
.halfPage{

	.icon-bigD:before {
		font-size: 460px;
	}
	.icon-bigD {
		left: 27%;
		position: fixed !important;
		top: 40%;
	}
	.labelNear {
		font-family: 'Comfortaa', cursive;
		padding-right: 10px;
		padding-top: 6px;
		font-size: 17px;
		font-weight: 100;
		text-align: right;
		margin-top: -29px;
		margin-right: 39px;
		width: 160px;
		float: right;
	}
}


.container{
	height: inherit;
}
.pic_1 {
    background-image: url('../../assets/images/features/pic1.jpg');
    height: 300px;
    max-height: 550px;
    background-size: cover;
    background-position: center;
}
.blackBg{
	background-color: #333;
	color: #fff;
	height: 480px;
}
.logo {
    text-transform: lowercase;
    font-size: 90px;
    padding-top: 90px;
    span{
    	font-size: 30px;
    }
}
.slogen {
    text-transform: initial;
    margin-bottom: 99px;
	font-family: 'Raleway', sans-serif;
    color: #666666;
}
.section1 img{
	    margin-top: -18px;
} 
.section2{
        margin-top: 300px;
        p {
            font-size: 20px;
            text-align: left;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: auto auto;
        }
        .actions {
        	a{
        		padding-left: 15px;
        	}
        	button{
        		padding-right: 15px;
        		background-color: #333;
        		color: #fff;
        		cursor: pointer;
        	}
    	}
}
.section3{
	background-color: #f1f1f1;
	min-height: 300px;
	margin-top: 75px;
	.textIt1{
        p {
            font-size: 20px;
            text-align: left;
            margin: auto auto;
        }
        .actions {
        	a{
        		padding-left: 15px;
        	}
        	button{
        		padding-right: 15px;
        		background-color: #333;
        		color: #fff;
        		cursor: pointer;
        	}
    	}
	}
	h1{
		margin-bottom: 99px;
	}
	h2{
		margin: 70px auto 70px auto;
	}
	.spcaer{
		height: 50px;
	}
	.stopSign{
		margin-top: -88px;
	}
	.icon-toyCar-1{
		top: -18px;
		right: 31%;
		position: relative;
	}

}






