	<div class="container-fluid blackBg text-center section1">
            <div class="col-xs-12 content text-center">
                <h1 class="logo">dride</h1>
                <h2 class="slogen">Connected dashcam with safety alerts & apps.</h2>
            </div>
            <img src="assets/images/mainPic.png" alt="Dride1" />
	</div>
	<div class="clear"></div>
	<div class="container text-center section2">
	    <p class="mx-auto">We’re a bunch of car fanatics who believe that the vehicles we are driving are unnecessarily primitive and downright dangerous! We’ve designed Dride to change that, and with it, the way we drive. Just as the time when no-one used seat belts rapidly faded we believe that the era of unintelligent cars should be a distant memory, and we are here to bring it about sooner than anyone expects. </p>

	    <div class="actions">
	    	
	    	<button routerLink="/store" type="button" class="btn buyBtn btn-secondary">Buy Now</button>
	    	<a [routerLink]="['/features']">Learn More</a>
	    </div>


	</div>

	<div class="clear"></div>
	<div class="container-fluid text-center section3">

            <div class="col-xs-12 content text-center">
                <h1 class="logo">dride<span>zero</span></h1>
                <h2 class="slogen">World's smallest connected dashcam</h2>
            </div>

            <img src="assets/images/zero.png" alt="dride-zero" />

	      <div class="container text-center textIt1">
		    <p class="mx-auto">We’re a bunch of car fanatics who believe that the vehicles we are driving are unnecessarily primitive and downright dangerous! We’ve designed Dride to change that, and with it, the way we drive. Just as the time when no-one used seat belts rapidly faded we believe that the era of unintelligent cars should be a distant memory, and we are here to bring it about sooner than anyone expects. </p>

		    <div class="actions">
		    	
		    	<button routerLink="/store" type="button" class="btn buyBtn btn-secondary">Buy Now</button>
		    	<a [routerLink]="['/features']">Learn More</a>
		    </div>


		</div>
		<img class="float-right stopSign" src="assets/images/stopSign.png" alt="stop sign"/>
	</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>