$color: #333333,
#333,
#F3B562,
#b68cbf,
#F06060,
#72C6CE,
#4A6164;
@for $i from 1 through 7 {
  .bg-#{$i} {
    background-color: nth($color, $i);
  }
  .active-#{$i} {
    color: nth($color, $i);
  }
  .color-#{$i} .icon-bigD:before {
    color: nth($color, $i);
  }
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  >* {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -($item-size / 2);
    width: $item-size;
    height: $item-size;
    $angle: (32);
    $rot: 100;
    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }
      $rot: $rot+$angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 8, $circle-size: 450px, $item-size: 6em);
  margin: 5em auto 0;
  span {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    transition: .15s;
    cursor: pointer;
    top: 306px;
    left: 198px;
  }
}

.halfPage {
  .icon-bigD:before {
    font-size: 460px;
  }
  .icon-bigD {
    left: 27%;
    position: fixed !important;
    top: 40%;
  }
  .labelNear {
    font-family: 'Comfortaa', cursive;
    padding-right: 10px;
    padding-top: 6px;
    font-size: 17px;
    font-weight: 100;
    text-align: right;
    margin-top: -29px;
    margin-right: 39px;
    width: 160px;
    float: right;
  }
}

.container {
  height: inherit;
  font-family: 'Comfortaa'
}

.pic_1 {
  background-image: url('../../assets/images/features/pic1.jpg');
  height: 300px;
  max-height: 550px;
  background-size: cover;
  background-position: center;
}

.blackBg {
  background-color: #333;
  color: #fff;
  height: 480px;
}

.logo {
  text-transform: lowercase;
  font-size: 90px;
  padding-top: 90px;
  span {
    font-size: 30px;
  }
}

.slogen {
  text-transform: initial;
  margin-bottom: 99px;
  font-family: 'Raleway', sans-serif;
  color: #666666;
}

.section1 {
	height: 100vh;
	img {
 		margin-top: -18px;
	}
}

.section2 {
  margin-top: 300px;
  p {
	font-size: 27px;
    text-align: left;
    padding-bottom: 100px;
    margin: auto auto;
    font-weight: 300;
  }
  .actions {
    a {
		font-size: 17px;
		padding-left: 79px;
    }
    button {
  	font-family: 'Comfortaa';
    background-color: #333;
	border-radius: 2px;
	border: 0;
    color: #fff;
    cursor: pointer;
    width: 151px;
    }
  }
}

.section3 {
  background-color: #f1f1f1;
  min-height: 300px;
  margin-top: 75px;
  .textIt1 {
    p {
      font-size: 20px;
      text-align: left;
      margin: auto auto;
    }
    .actions {
      a {
        padding-left: 15px;
      }
      button {
        padding-right: 15px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  h1 {
    margin-bottom: 99px;
  }
  h2 {
    margin: 70px auto 70px auto;
  }
  .spcaer {
    height: 50px;
  }
  .stopSign {
    margin-top: -88px;
  }
  .icon-toyCar-1 {
    top: -18px;
    right: 31%;
    position: relative;
  }
}

.section4 {
  background-color: #333;
  .logo,
  .slogen {
    color: #fff;
  }
  .btn-red {
    background-color: #F06060;
    color: #fff;
  }
}

.section6 {
  background-image: url('../../assets/images/fleet.png');
  color: #fff;
  .slogen{
	color: #fff;
  }
  min-height: 50vh;
}

.section7 {
  background-color: #f9f9f9;
  h2 {
    padding: 40px;
  }
  .whiteBg {
    background-color: #fff;
    div {
      padding: 60px;
    }
  }
  .gettingStarted:after {
    border-right: 1px solid #dde1ea;
    content: '';
    position: absolute;
    right: 0;
    top: 75px;
    bottom: 75px;
    display: block;
  }
}

.subscribe {
  background-color: #333;
  height: 400px;
  .submitted img {
    margin-top: 13px;
  }
  .preOrderFooter h3 {
    padding-top: 147px !important;
    font-size: 24px;
  }
  .preOrderFooter {
    background-color: #333;
    height: 160px;
    input {
      background-color: #333;
      font-size: 16px;
      padding: 21px;
      border-radius: 4px;
      color: #fff;
      border-color: #fff;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      color: #fff;
      height: 44px;
    }
    button {
      padding: 11px;
      font-weight: 100;
      border-radius: 4px;
      background-color: #fff;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    input:focus {
      border-color: #fff;
      outline: 0;
      box-shadow: none;
    }
    button:focus,
    button:active,
    input:focus {
      outline: 0 !important;
    }
    h3 {
      padding-top: 40px;
      padding-bottom: 5px;
    }
  }
  .modalClose {
    color: #333;
    padding: 20px!important;
    font-size: 31px!important;
    padding-top: 8px!important;
    cursor: pointer;
  }
  .submitted img {
    max-width: 100px;
    margin-top: 13px;
  }
  .buy {
    .prod {
      width: 18%;
    }
    h3 {
      color: #fff;
      padding-bottom: 8px;
    }
  }
}

app-cloud .icon-toyCar-1 {
  color: #F06060;
}
